# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe
*.pyc
*.pyz
*.pypirc
*.toc
*.manifest
*.pkg
*.zip
*.xml
*.jpeg
*.jpg
*.png

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom Stuff
/idea
/dist
*.log
*.xml
*.xml
*.iml
*.spec
comic_dl/Logo.ico
comic_dl/build/__main__/warn__main__.txt
*.old
*.pdf
*.old2
comic_dl/build/__main__/xref-__main__.html
*.xml___jb_tmp___
comic_dl/Manga_Eden_Data.json
*.mri
comic_dl/dist/decryptor.py
comic_dl/dist/libwebp-0.6.1-windows-x64/include/webp/decode.h
comic_dl/dist/libwebp-0.6.1-windows-x64/include/webp/demux.h
comic_dl/dist/libwebp-0.6.1-windows-x64/include/webp/encode.h
comic_dl/dist/libwebp-0.6.1-windows-x64/include/webp/mux.h
comic_dl/dist/libwebp-0.6.1-windows-x64/include/webp/mux_types.h
comic_dl/dist/libwebp-0.6.1-windows-x64/include/webp/types.h
comic_dl/dist/libwebp-0.6.1-windows-x64/Readme-mux.txt
comic_dl/dist/libwebp-0.6.1-windows-x64/Readme.txt
comic_dl/dist/libwebp-0.6.1-windows-x64/test.webp
comic_dl/dist/libwebp-0.6.1-windows-x64/test_ref.ppm
comic_dl/dist/out.webp
comic_dl/dist/upx394w/BUGS
comic_dl/dist/upx394w/COPYING
comic_dl/dist/upx394w/LICENSE
comic_dl/dist/upx394w/Manga_Eden_Data.json
comic_dl/dist/Manga_Eden_Data.json
comic_dl/dist/upx394w/NEWS
comic_dl/dist/upx394w/README
comic_dl/dist/upx394w/README.1ST
comic_dl/dist/upx394w/THANKS
comic_dl/dist/upx394w/upx.1
comic_dl/dist/upx394w/upx.doc
comic_dl/dist/upx394w/upx.html
comic_dl/config.json*
comic_dl/build/__main__/localpycos/struct.pyo
comic_dl/__main__.spec,old
comic_dl/build/__main__/warn-__main__.txt
