language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6-dev" # 3.6 development branch
  - "nightly" # currently points to 3.7-dev
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
#script: nosetests
#script: cd comic_dl
script:
- cd comic_dl
- python __main__.py --version
notifications:
  email:
    - xonshiz@psychoticelites.com